.swiper-container {
	width : 690px;
	text-align : center;
}
.swiper-slide {
	background : #fff;
}
.swiper-scrollbar {
	width : 100%;
	height : 4px;
	position : absolute;
	left : 0;
	bottom : 5px;
	z-index : 1;
}
.swiper-slide-image {
	float : left;
	margin-left : 0px;
}
.swiper-slide-image {
	float : left;
	margin-right : 1px;
}