#menu ul {
	margin : 0 auto;
	width : 435px;
	font-family : Arial;
	text-align : center;
	font-size : 12px;
	padding-top : 26px;
	padding-bottom : 14px;
}

#menu ul li {
	display : block;
	float : left;
	margin-top : 0px;
	margin-bottom : 0px;
	text-align : center;
	width : 67px;
}

#menu ul li a {
	color : #999;
	text-decoration : none;
}

/* Sub Level Nav */
#menu ul li ul {
	background : #d3d2e0;
	border : 0px solid #000;
	margin-top : 20px;
	margin-left : -27px;
	opacity: 0.95;
	padding-left : 5px;
	padding-right : 10px;
	padding-top : 4px;
	padding-bottom : 10px;
	position : relative;
	width : 355px;
}

#menu ul li ul li {
	border-bottom : 1px dotted #888;
	display : block;
	float : none;
	height : 14px;
	padding-top : 7px;
	padding-bottom : 8px;
	text-align : left;
	width : 355px;
	margin : 0;
}

#menu ul li ul.little {
	background : #d3d2e0;
	border : 0px solid #000;
	margin-top : 20px;
	margin-left : -23px;
	opacity: 0.95;
	padding-left : 5px;
	padding-right : 10px;
	padding-top : 4px;
	padding-bottom : 10px;
	position : relative;
	width : 170px;
}

#menu ul li ul li.little {
	border-bottom : 1px dotted #888;
	display : block;
	float : none;
	height : 14px;
	padding-top : 7px;
	padding-bottom : 8px;
	text-align : left;
	width : 170px;
	margin : 0;
}

#menu ul li ul li a {
	color : #47484C;
	text-shadow : none;
	font-style : italic;
	font-family : Arial;
	font-size : 12px;
}

#header ul li ul li a:hover {
	color : #000;
}

#header ul li ul li:last-child:not(li.arrow) {
	border : 0;
}

/* Arrow */
.arrow {
	background : url(../images/arrow.png) no-repeat;
	border : 0;
	display : none;
	position : absolute;
		top : -10px;
		left : 50px;
	height : 11px;
	width : 20px;
	text-indent : -9999px;
}