body {
	width : 100%;
	height : 100%;
	margin : 0px;
	padding : 0px;
	overflow-x : hidden;
}

hr {
	height : 1px; 
	background-color : #BBB; 
	color : #BBB;
}

hr.little {
	width : 620px;
	background-color : #DDD; 
	height : 1px;
	color : #DDD;
	border : none;
}

hr.normal {
	background-color : #DDD; 
	height : 1px;
	color : #DDD;
	border : none;
}

@font-face {
    font-family : franklin; 
    src : url('../fonts/franklin.ttf');
}

#caption {
	letter-spacing : 1px;
	padding-top : 30px;
    color : #47484C;
    font-family : franklin;
	font-size : 63px;
}

#menu  a {
    color : #999;
	padding-left : 6px;
	padding-right : 6px;
	text-decoration : none;
}

#menu  a:hover {
    color : #47484C;
	padding-left : 6px;
	padding-right : 6px;
	text-decoration : none;
}

#woodenlogocontainer {
	width : 100%;
	margin-top : 33px;
	height : 217px;
	background-image : url('../images/wood.gif');
	background-color : #8D8D8D;
	border : 0px solid #8D8D8D;
}

#logo {
	width : 368px;
	height : 270px;
	position : absolute;
	left : 50%;
	margin-left: -184px;
	top : 174px;
}

#acimage {
	width : 366px;
}

#text {
	width : 700px;
	text-align : left;
	overflow : hidden;
	font-family : Arial;
	color : #47484C;
	font-size : 20px;
	padding-top : 20px;
}

#deviz {
	width : 100%;
}

#devizleft {
	width : 15%;
	float : left;
}

#devizright {
	width : 85%;
	float : left;
}

#donetskarchitecture {
	font-size : 40px;
	text-align : center;
}

#social {
	padding-top : 30px;
	width : 200px;
}

#copyright {
	padding-top : 40px;
	padding-bottom : 50px;
	font-size : 12px;
}

#footer {
	width : 100%;
	background-color : #8d8c91;
	border : 2px solid black;
	overflow : hidden;
	font-size : 12px;
	font-family : Arial;
	color : white;
}

#footerinside {
	width : 750px;
	overflow : hidden;
}

#keywords {
	width : 700px;
	padding-top : 30px;	
	padding-bottom : 30px;
	font-family : Arial;
	overflow : hidden;
}

#footer1,#footer2,#footer3,#footer4 {
	width : 25%;
	float : left;
	text-align : left;
	padding-top : 20px;
}

#columnscontainer {
	width : 700px;
	overflow : hidden;
	height : 400px;
}

#wrapper_left {
	display	: table;
	width : 180px;
	position : relative;
	height : 400px;
	float : left;
}
#cell_left {
	display	: table-cell;
	vertical-align : middle;
}

#wrapper_center {
	display	: table;
	width : 1px;
	position : relative;
	height : 400px;
	float : left;
}
#cell_center {
	display	: table-cell;
	vertical-align : middle;
}

#wrapper_right {
	display	: table;
	width : 510px;
	position : relative;
	height : 400px;
	float : left;
}
#cell_right {
	display	: table-cell;
	vertical-align : middle;
}

#stylename {
	font-family : Times New Roman; 
	font-size : 30px; 
	font-style : italic;
	margin-left : 20px;
	text-align : center;
}

#styledescription {
	text-align : justify;
	margin-left : 40px;
}

#arrows {
	width : 100%;
}

#arrow_left {
	text-align : left;
	position : relative;
	float : left;
	margin-left : 40px;
	cursor : pointer;
	color : #AAA;
}

#arrow_right {
	text-align : right;
	position : relative;
	float : right;
	cursor : pointer;
	color : #AAA;
}

#pointer {
	visibility : hidden;
}

#fancylink {
	text-decoration : none;
	color : #47484C;
	font-size : 13px;
}

#galeryimage {
	width : 690px;
	background-color : #47484C;
}

#bottomimageline {
	width : 690px;
	margin-top : -50px;
	position : absolute;
	color : red;
	text-align : right;
}

#imagetype {
	color : red;
	width : 100px;
	float : right;
	padding-top : 5px;
	padding-right : 6px;
}

#photosamount {
	width : 54px;
	height : 33px;
	background-color : black;
	color : white;
	float : right;
	vertical-align : top;
	font-size : 15px;
	font-weight : bold;
	color : #999;
}
#photosamount_three {
	width : 62px;
	height : 33px;
	background-color : black;
	color : white;
	float : right;
	vertical-align : top;
	font-size : 15px;
	font-weight : bold;
	color : #999;
}

#rightpadder {
	width : 13px;
	float : right;
}

#windowsimage {
	width : 13px;
	float : right;
}

#arrow_prev_project {
	position : fixed; 
	top : 50%;  
	height : 60px; 
	left : 2%;
}

#arrow_next_project {
	position : fixed; 
	top : 50%;  
	height : 60px;
	left : 93%; 
}

a.bottommenulink {
	font-size : 12px;
	font-family : Arial;
	color : white;
	text-decoration : none;
}

a.maplink {
	font-family : Arial;
	color : #47484C;
	font-size : 13px;
	text-decoration : none;
}

.simpleli {
	list-style-type : none;
	padding-left : 0px;
}

a.facebook {
	background : url('../icons/facebook_up.png');
	float : left;
    width : 30px; 
    height : 30px;
	display : inline;
	margin-left : 5px;
	margin-right : 5px;
}

a.facebook:hover {
	background : url('../icons/facebook.png');
	float : left;
}

a.rss {
	background : url('../icons/rss_up.png');
	float : left;
    width : 30px; 
    height : 30px;
	display : inline;
	margin-left : 5px;
	margin-right : 5px;
}

a.rss:hover {
	background : url('../icons/rss.png');
	float : left;
}

a.twitter {
	background : url('../icons/twitter_up.png');
	float : left;
    width : 30px; 
    height : 30px;
	display : inline;
	margin-left : 5px;
	margin-right : 5px;
}

a.twitter:hover {
	background : url('../icons/twitter.png');
	float : left;
}

a.vk {
	background : url('../icons/vk_up.png');
	float : left;
    width : 30px; 
    height : 30px;
	display : inline;
	margin-left : 5px;
	margin-right : 5px;
}

a.vk:hover {
	background : url('../icons/vk.png');
	float : left;
}

a.google {
	background : url('../icons/google_up.png');
	float : left;
    width : 30px; 
    height : 30px;
	display : inline;
	margin-left : 5px;
	margin-right : 5px;
}

a.google:hover {
	background : url('../icons/google.png');
	float : left;
}

span.grafit {
	color : #47484C;
	font-size : 13px;
}

div.whitegalery {
	color : white;
	font-size : 13px;
}

div.grafit {
	color : #47484C;
	font-size : 13px;
}

p.singlerow {
	line-height : 10%;
}

p.contactsrow {
	line-height : 115%;
}

p.multiplerow {
	line-height : 115%;
}

span.lightgrey {
	color : #999;
	font-size : 13px;
}

div.lightgrey {
	color : #999;
	font-size : 13px;
}

.grafit {
	color : #47484C;
	text-decoration : none;
}

.darkgrey {
	color : #8D8D8D;
}	

.red {
	color : #FE0000;
}